.firstscreen {
  img{
    width: 100%;
    height: 70%;
    margin: auto;
  }

  .account {

    padding: 20px 50px;
    display: block;
    margin: auto;
    background-color: darkblue;
    width: 40%;
  }

  .login {
    padding: 15px 50px;
    display: block;
    margin: auto;
    width: 30%;
    background-color: skyblue;

  }


}
